@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  background-image: linear-gradient(
    to right bottom,
    #266cb2,
    #748cc5,
    #a8b0d7,
    #d6d6eb,
    #ffffff
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.formIzin .form-control,
.formIzin .form-select,
.formIzin .form-select option {
  border: 1px solid #fff;
  background-color: transparent;
}

.formIzin .form-label,
.formIzin .form-select {
  color: #fff;
}

.modalIzin p {
  font-size: 20px;
}

/* masuk kerja css */
.header-masuk {
  margin: 0%;
  padding: 20px 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__logo {
  width: 176px;
  height: 63px;
  border-radius: 20px;
  background-color: #fff;
}

.header__logo img {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.content-1 {
  display: flex;
  flex-direction: row;
  padding: 20px 35px;
  margin-top: 10px;
  justify-content: space-between;
}

.form-content {
  width: 50%;
  height: 100%;
}

.first-row {
  border-radius: 20px;
  background-color: rgba(176, 176, 176, 0.17);
  border: 1px solid #ffffff;
  color: white;
  padding: 20px 35px;
  text-align: center;
}
.first-row h3 {
  font-family: poppins;
  font-weight: bold;
}

.first-row p {
  font-family: inter;
  margin-top: 20px;
}

.second-row {
  margin-top: 10px;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(176, 176, 176, 0.17);
  border: 1px solid #ffffff;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 35px;
}

.second-row button {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(176, 176, 176, 0.17);
  border: 2px solid #ffffff;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.camera {
  width: 47%;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(176, 176, 176, 0.17);
  border: 1px solid #ffffff;
  font-size: 20px;
  font-weight: 600;
}

.camera-title {
  align-items: center;
  justify-content: center;
  padding: 20px 35px;
}

.camera .webcam {
  width: 100%;
  height: 100%;
  background-color: rgba(176, 176, 176, 0.17);
  border: 1px solid #ffffff;
  border-radius: 20px;
}

.camera .camera-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.camera-button button {
  border: 2px solid #ffffff;
}

.camera-button button:nth-child(2) {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: 5px solid #dfdfdf;
}
.custom-text {
  color: #1c1d22;
}

/* STATUS PENGAJUAN CSS */
.tablePengajuanIzin {
  padding: 10px 20px 0px 20px;
}

.card-header-pengajuan {
  background-color: #266cb2;
}

.header-1 {
  text-align: center;
  color: #ffffff;
  font-size: 25px;
}

.header-2 {
  color: #ffffff;
  font-weight: normal;
  font-size: 15px;
}
.bg-blur {
  display: block;
  border-radius: 20px;
  border: 1px solid var(--Biru-Muda-BANGET, #eef6fa);
  background: rgba(191, 191, 191, 0.2);
  backdrop-filter: blur(45px);
  padding-top: 15px;
  margin-left: 60px;
  margin-right: 60px;
  /* width: 1200px;
  height: 560px; */
}

.yellow-tag {
  color: #cacd22;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px; /* 150% */
  width: 46px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #fdffb2;
  gap: 6px;
}

.button-cetak {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  color: var(--Hitam, #1c1d22);
  background: #fff;
  margin-left: auto;
}

/*ADMIN CSS*/

.admin-bg {
  background-color: #ffffff;
}

.admin-sidebar {
  background-image: linear-gradient(173deg, #266cb2 -1.11%, #8caed1 111.38%);
}

.header {
  color: #1c1d22;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}

.sub-header {
  color: #667085;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.blue-tag {
  color: #266cb2;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #eef6fa;
}

.customDataTable .p-datatable-thead th {
  text-align: center;
  color: #1c1d22;
  font-size: 16px;
}
.customDataTable .p-datatable-tbody td {
  color: #545459;
  font-size: 14px;
  text-align: center;
}

.customDataTable .p-datatable-tbody tr {
  border-bottom: 1px solid #ddd;
  height: 60px;
}
.customDataTable .p-paginator {
  margin-top: 20px;
}

.customDataTable .p-paginator .p-paginator-current {
  margin-right: 20px;
  color: #a9a9a9;
}

.customDataTable .p-paginator .p-paginator-prev {
  color: #a9a9a9;
}
.customDataTable .p-paginator .p-paginator-next {
  color: #a9a9a9;
}
.customDataTable .p-paginator .p-paginator-pages .p-paginator-page {
  color: #a9a9a9;
  font-size: 20px;
  margin-right: 5px;
}
.card .edit {
  background-color: #fdffb2;
  border: none;
  border-radius: 5px;
  color: #cacd22;
  width: 35px;
  height: 35px;
}
.card .edit:hover {
  background-color: #fbff84;
  color: #cacd22;
}
.card .check {
  background-color: #d0ffcf;
  border: none;
  border-radius: 5px;
  color: #1c711b;
  width: 35px;
  height: 35px;
}
.card .check:hover {
  background-color: #acffaa;
  color: #1c711b;
}
.card .check:active {
  background-color: #acffaa;
  color: #1c711b;
}
.card .decline {
  background-color: #fdd4d4;
  border: none;
  border-radius: 5px;
  color: #ac1616;
  width: 35px;
  height: 35px;
}

.card .decline:hover {
  background-color: #ffb5b5;
  color: #ac1616;
}

.blue-tag {
  color: #266cb2;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px; /* 150% */
  width: 46px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #eef6fa;
  gap: 6px;
}

.green-tag {
  width: 46px;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 16px;
  background: var(--bg-button-hijau, #d0ffcf);
  color: var(--icon-hijau-tulisan, #1c711b);
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px; /* 150% */
}

.red-tag {
  width: 46px;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 16px;
  background: #fdd4d4;
  color: #ac1616;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px; /* 150% */
}

.search-button {
  border-radius: 8px;
  border: 1px solid #0070ff;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.print-button {
  display: flex;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Abu-abu, #545459);
  background: #fff;
}
.print-button:hover {
  color: #fff;
  background-color: #8f8f8f;
}

.icon_profile {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.header_profile {
  color: var(--Hitam, #1c1d22);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sub-header_profile {
  color: var(--Hitam, #1c1d22);
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* .date-picker {
  border-radius: 5px;
  border: 1px solid #545459;
  background: #fff;
  display: flex;
  width: 232px;
  padding: 8px 10px 8px 16px;
  align-items: center;
  gap: 6px;
} */

/*MODAL ADMIN CSS*/
.modal-header-decline {
/MODAL ADMIN CSS/ .modal-header-decline {
  color: #ac1616;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.decline {
  display: flex;
  width: 80px;
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  background-color: #fdd4d4;
  color: #ac1616;
  font-family: "Karla" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.decline:hover {
  background-color: #ffb5b5;
  color: #ac1616;
}

.batal-btn {
  display: flex;
  width: 80px;
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  background-color: rgb(230, 230, 230);
  color: #3d3d3d;
  font-family: "Karla" sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.batal-btn:hover {
  background-color: rgb(214, 214, 214);
  color: #3d3d3d;
}

.modal-body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.edit-btn {
  display: flex;
  width: 80px;
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  background-color: #eef6fa;
  color: #266cb2;
  font-family: "Karla", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.edit-btn:hover {
  background-color: #d8effa;
  color: #266cb2;
}
.modal-header-edit {
  color: #266cb2;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.modal-header-edit input {
  border-radius: 10px;
  border: 2px solid #266cb2;
  color: #266cb2;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.modal-header-edit input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: #266cb2;
}
.modal-header-edit select {
  border-radius: 10px;
  border: 2px solid #266cb2;
  color: #266cb2;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.icon_check {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
}
