@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&family=Poppins:wght@300;400;600&display=swap");

body {
  background-image: linear-gradient(
    to right bottom,
    #266cb2,
    #748cc5,
    #a8b0d7,
    #d6d6eb,
    #ffffff
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.uk-body {
  margin: 0px 100px 0px 100px;
}
.admin-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto; /* Add this line to enable vertical scrolling */
  z-index: 1000;
  transition: width 0.3s ease, left 0.3s ease;
  height: auto; /* Add a fixed height for the sidebar */
}

.formIzin {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
}
.formIzin .form-control,
.formIzin .form-select,
.formIzin .form-control:focus,
.formIzin .form-select:focus {
  border: 1px solid #fff;
  background-color: transparent;
}

.formIzin .form-label,
.formIzin .form-select,
.formIzin .form-control,
.formIzin .form-control:focus {
  color: #fff;
}

.formIzin .form-select option {
  color: #000 !important;
}

.modalIzin p {
  font-size: 20px;
}

/* Login CSS */
.container-bg {
  background-image: url(./assets/Users/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 100px;
}

.form-content {
  width: 100%;
  height: 100%;
}

.row-login {
  border-radius: 20px;
  background-color: rgba(176, 176, 176, 0.17);
  border: 1px solid #ffffff;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  backdrop-filter: blur(3px);
}

.row-login h4 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

.row-login p {
  font-size: small;
  font-family: "Poppins", sans-serif;
}

.row-login input {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.032);
  border: 1px solid #ffffff;
  color: white;
}
.row-login ::placeholder {
  color: white;
}
.row-login :placeholder-shown {
  color: white;
}

.btn-login {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  border: none;
  background-image: linear-gradient(to right, #ec6078, #266cb2);
  color: white;
}

.header_logo {
  width: 100%;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_logo img {
  width: 76px;
  height: 76px;
  justify-content: center;
  display: flex;
  align-items: center;
}

/* Home CSS */

.header-home {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-home img {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header-home-logo {
  width: 176px;
  height: 63px;
  border-radius: 20px;
  background-color: #fff;
}

.content-home {
  display: flex;
  flex-direction: row;
  padding: 20px 35px;
  margin-top: 2px;
  justify-content: space-between;
}

.form-content-home {
  width: 40%;
  height: 100%;
  margin-right: 15px;
}

.sub-content-1 {
  border-radius: 20px;
  background-color: rgba(176, 176, 176, 0.17);
  border: 1px solid #ffffff;
  color: white;
  padding: 20px 35px;
  text-align: center;
}
.sub-content-1 h4 {
  font-family: poppins;
  font-weight: bold;
  margin-top: 20px;
}

.sub-content-1 p {
  font-family: poppins;
  margin-top: 20px;
}

.sub-content-2 {
  margin-top: 20px;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(176, 176, 176, 0.17);
  border: 1px solid #ffffff;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 35px;
}

.sub-content-2 button {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(176, 176, 176, 0.17);
  border: 2px solid #ffffff;
  color: #fff;
  font-weight: 600;
  font-family: poppins;
  font-size: large;
}

.sub-content-2 button:hover {
  background-color: #266cb2;
}
.sub-content-2 button:active {
  background-color: #266cb2;
}

.image-content {
  width: 60%;
  height: 100%;
  margin-left: 15px;
}

.homepage {
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage img {
  width: 80%;
  justify-content: center;
  align-items: center;
}

.sub-content-3 {
  width: 90%;
  height: 470px;
  border-radius: 20px;
  background-color: rgba(176, 176, 176, 0.17);
  border: 1px solid #ffffff;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.sub-content-3 img {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sub-content-3 .container {
  border-radius: 20px;
}

.header-content {
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.header-content p {
  font-family: poppins;
}

.header-content h4 {
  font-family: poppins;
  font-weight: bold;
  margin-top: 20px;
}
.border-sub-content {
  background-color: white;
  border: 1px solid #266cb2;
  border-radius: 20px;
  margin-top: 15px;
}

.border-sub-content label {
  color: #266cb2;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.border-sub-content input {
  border-radius: 10px;
  background: var(--bg-button-abu, #dbdbdb);
}

.camera {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
}

.camera-title {
  display: flex;
  flex-direction: column;
}

.camera .webcam {
  width: 85%;
  height: 100%;
  background-color: rgba(176, 176, 176, 0.17);
  border: 1px solid #fff;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.camera .capture {
  width: 92%;
  height: 100%;
  background-color: rgba(176, 176, 176, 0.17);
  border: 1px solid #fff;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.camera .camera-button {
  display: flex;
  margin-bottom: 8px;
}

.camera-button .capture-btn {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: 5px solid #d6d6d6;
}
.custom-text {
  color: #1c1d22;
}

.btn-done-working {
  display: flex;
  width: 180px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #d0ffcf;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #1c711b;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.btn-done-working:hover {
  background-color: #acffaa;
  color: #1c711b;
}

.cancel-cam-btn {
  display: flex;
  width: 75.83px;
  height: 44px;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #fdd4d4;
  color: #ac1616;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 100% */
  border: none;
}

.cancel-cam-btn:hover {
  background-color: #ffb5b5;
  color: #ac1616;
}

.upload-cam-button {
  display: flex;
  width: 75.83px;
  height: 44px;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #eef6fa;
  color: #266cb2;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 100% */
  border: none;
}

.upload-cam-button:hover {
  background-color: #d8effa;
  color: #266cb2;
}

/* STATUS PENGAJUAN CSS */
.tablePengajuanIzin {
  padding: 10px 20px 0px 20px;
}

.card-header-pengajuan {
  background-color: #266cb2;
}

.header-1 {
  text-align: center;
  color: #ffffff;
  font-size: 25px;
}

.header-2 {
  color: #ffffff;
  font-weight: normal;
  font-size: 15px;
}
.bg-blur {
  display: block;
  border-radius: 20px;
  border: 1px solid var(--Biru-Muda-BANGET, #eef6fa);
  background: rgba(191, 191, 191, 0.2);
  backdrop-filter: blur(45px);
  padding-top: 15px;
  margin-left: 60px;
  margin-right: 60px;
}

.yellow-tag {
  color: #cacd22;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px; /* 150% */
  width: 46px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #fdffb2;
  gap: 6px;
}

.button-cetak {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  color: var(--Hitam, #1c1d22);
  background: #fff;
  margin-left: auto;
}

/* DROPDOWN PROFILE CSS */

.dropdown-toggle {
  background: transparent !important;
  border: none !important;
}

.dropdown-toggle:focus {
  border: none !important;
}

.dropdown-menu {
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.name-centered-text {
  text-align: center;
  font-family: "Karla" sans-serif;
  font-size: 16x;
  /* font-style: normal; */
  font-weight: 700;
}

.centered-text {
  text-align: center;
  font-family: "Karla" sans-serif;
  font-size: 16x;
  color: #8f8f8f;
}

.dropdown-toggle::after {
  content: none !important; /* Menghilangkan icon dropdown */
}

.text-link {
  color: #000;
  text-decoration: none;
  padding: 0px 0px 10px 10px;
}

.text-link:hover {
  color: #000; /* Warna teks saat di hover */
}

.text-link-yakin {
  text-decoration: none;
}

.text-link-yakin:hover {
  text-decoration: none;
}

.btn-log {
  margin-top: 20px;
  /* display: flex; */
  width: 140px;
  padding: 5px 5px;
  border-radius: 8px;
  border: none;
  background-color: #fdd4d4;
  color: #ac1616;
  font-family: "Karla" sans-serif;
  font-size: 13px;
}

.modal-header-reset {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form-reset .form-label {
  font-size: small;
}

/* form masuk kerja */
.app-container {
  background: #fff; /* Ganti dengan path gambar yang diinginkan */
  color: #7a7a7a;
  height: 400px;
  border-radius: 10px;
  margin: 20px 40px 0px px;
  padding-top: 0px;
  padding-bottom: 50px;
}
.blur-bg {
  border-radius: 10px;
  /* border: 2px solid var(--Biru-Muda-BANGET, #eef6fa); */
  background: rgba(191, 191, 191, 0.2);
  backdrop-filter: blur(45px);
  /* margin-left: 100px; */
  height: 480px;
  /* margin-right: 50px; */
  /* width: 1200px; */
}
.button-keluar {
  margin-left: 300px;
  padding-top: 5px;
  margin-right: 30px;
}
.header-data {
  background-color: #266cb2;
  padding: 20px 0px 10px 0px;
  margin-bottom: 1px;
  text-align: top;
  text-align: center;
}
.Teks1 {
  font-size: 32px;
  font-family: poppins;
  margin-bottom: 1px;
  padding: 20px 0px 10px 0px;
}
.header-data1 {
  background-color: #ac1616;
  padding: 20px 0px 10px 0px;
  margin-bottom: 1px;
  text-align: top;
  text-align: center;
}

/* /ADMIN CSS/  */
.admin-bg {
  background-color: #ffffff;
}

.admin-sidebar {
  background-image: linear-gradient(173deg, #266cb2 -1.11%, #8caed1 111.38%);
}

.header {
  color: #1c1d22;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}

.sub-header {
  color: #667085;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.blue-tag {
  color: #266cb2;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #eef6fa;
}

.customDataTable .p-datatable-thead th {
  text-align: center;
  color: #1c1d22;
  font-size: 16px;
}
.customDataTable .p-datatable-tbody td {
  color: #545459;
  font-size: 14px;
  text-align: center;
}

.customDataTable .p-datatable-tbody tr {
  border-bottom: 1px solid #ddd;
  height: 60px;
}
.customDataTable .p-paginator {
  margin-top: 20px;
}

.customDataTable .p-paginator .p-paginator-current {
  margin-right: 20px;
  color: #a9a9a9;
}

.customDataTable .p-paginator .p-paginator-prev {
  color: #a9a9a9;
}
.customDataTable .p-paginator .p-paginator-next {
  color: #a9a9a9;
}
.customDataTable .p-paginator .p-paginator-pages .p-paginator-page {
  color: #a9a9a9;
  font-size: 20px;
  margin-right: 5px;
}
.card .edit {
  background-color: #fdffb2;
  border: none;
  border-radius: 5px;
  color: #cacd22;
  width: 35px;
  height: 35px;
}
.card .edit:hover {
  background-color: #fbff84;
  color: #cacd22;
}
.card .check {
  background-color: #d0ffcf;
  border: none;
  border-radius: 5px;
  color: #1c711b;
  width: 35px;
  height: 35px;
}
.card .check:hover {
  background-color: #acffaa;
  color: #1c711b;
}
.card .check:active {
  background-color: #acffaa;
  color: #1c711b;
}
.card .decline {
  background-color: #fdd4d4;
  border: none;
  border-radius: 5px;
  color: #ac1616;
  width: 35px;
  height: 35px;
}

.card .decline:hover {
  background-color: #ffb5b5;
  color: #ac1616;
}

.blue-tag {
  color: #266cb2;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px; /* 150% */
  width: 46px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #eef6fa;
  gap: 6px;
}

.green-tag {
  width: 46px;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 16px;
  background: var(--bg-button-hijau, #d0ffcf);
  color: var(--icon-hijau-tulisan, #1c711b);
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px; /* 150% */
}

.red-tag {
  width: 46px;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 16px;
  background: #fdd4d4;
  color: #ac1616;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: 18px; /* 150% */
}

.search-button {
  border-radius: 8px;
  border: 1px solid #0070ff;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.print-button {
  display: flex;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Abu-abu, #545459);
  background: #fff;
}
.print-button:hover {
  color: #fff;
  background-color: #8f8f8f;
}

.icon_profile {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.header_profile {
  color: var(--Hitam, #1c1d22);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sub-header_profile {
  color: var(--Hitam, #1c1d22);
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* .date-picker {
  border-radius: 5px;
  border: 1px solid #545459;
  background: #fff;
  display: flex;
  width: 232px;
  padding: 8px 10px 8px 16px;
  align-items: center;
  gap: 6px;
} */

/* /MODAL ADMIN CSS/  */
.modal-header-decline {
  color: #ac1616;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.decline {
  display: flex;
  width: 80px;
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  background-color: #fdd4d4;
  color: #ac1616;
  font-family: "Karla" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.decline:hover {
  background-color: #ffb5b5;
  color: #ac1616;
}

.batal-btn {
  display: flex;
  width: 80px;
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  background-color: rgb(230, 230, 230);
  color: #3d3d3d;
  font-family: "Karla" sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.batal-btn:hover {
  background-color: rgb(214, 214, 214);
  color: #3d3d3d;
}

.modal-body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.edit-btn {
  display: flex;
  width: 80px;
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  background-color: #eef6fa;
  color: #266cb2;
  font-family: "Karla", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.edit-btn:hover {
  background-color: #d8effa;
  color: #266cb2;
}
.modal-header-edit {
  color: #266cb2;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.modal-header-edit input {
  border-radius: 10px;
  border: 2px solid #266cb2;
  color: #266cb2;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.modal-header-edit input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: #266cb2;
}
.modal-header-edit select {
  border-radius: 10px;
  border: 2px solid #266cb2;
  color: #266cb2;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.icon_check {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.approve-presensi {
  font-family: "Karla", sans-serif;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.selfie {
  width: 200px;
  height: 200px;
  margin-right: 10px;
}

.approve-btn {
  display: flex;
  width: 80px;
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  background-color: #d0ffcf;
  color: #1c711b;
  font-family: "Karla" sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.approve-btn:hover {
  background-color: #acffaa;
  color: #1c711b;
}

.bars {
  display: flex;
  width: 80px;
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  background-color: #d0ffcf;
  color: #1c711b;
  font-family: "Karla" sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.admin-sidebar ul li {
  margin-top: 1px;
}

.btn-send {
  display: flex;
  width: 180px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #eef6fa;
  border: 1px solid #266cb2;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #266cb2;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.btn-send:hover {
  background-color: #d8effa;
  color: #266cb2;
}

.DateRangePicker {
  display: flex;
  width: 260px;
  align-items: center;
  border: none;
  background: #fff;
}

.DateRangePicker ::placeholder {
  font-size: small;
}

.DateRangePicker :placeholder-shown {
  font-size: small;
}
.sub-content-3 .form-control{
  background-color:#cecdcd;
}