@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  background-image: linear-gradient(
    to right bottom,
    #266cb2,
    #748cc5,
    #a8b0d7,
    #d6d6eb,
    #ffffff
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.formIzin .form-control,
.formIzin .form-select,
.formIzin .form-select option {
  border: 1px solid #fff;
  background-color: transparent;
}

.formIzin .form-label,
.formIzin .form-select {
  color: #fff;
}

.modalIzin p {
  font-size: 20px;
}

/**ADMIN CSS**/

.admin-bg {
  background-color: #ffffff;
}

.admin-sidebar {
  background-image: linear-gradient(173deg, #266cb2 -1.11%, #8caed1 111.38%);
}

.header {
  color: #1c1d22;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}

.sub-header {
  color: #667085;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.msib-tag {
  color: #266cb2;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #eef6fa;
}
.customDataTable .p-datatable-thead th {
  text-align: center;
  color: #1c1d22;
  font-size: 16px;
}
.customDataTable .p-datatable-tbody td {
  color: #545459;
  font-size: 14px;
  text-align: center;
}

.customDataTable .p-datatable-tbody tr {
  border-bottom: 1px solid #ddd;
  height: 60px;
}
.customDataTable .p-paginator {
  margin-top: 20px;
}

.customDataTable .p-paginator .p-paginator-current {
  margin-right: 20px;
  color: #a9a9a9;
}

.customDataTable .p-paginator .p-paginator-prev {
  color: #a9a9a9;
}
.customDataTable .p-paginator .p-paginator-next {
  color: #a9a9a9;
}
.customDataTable .p-paginator .p-paginator-pages .p-paginator-page {
  color: #a9a9a9;
  font-size: 16px;
  margin-right: 5px;
}

.customDataTable .check {
  background-color: #d0ffcf;
  border: none;
  box-shadow: none;
}

.customDataTable .decline {
  background-color: #fdd4d4;
  border: none;
  box-shadow: none;
}

.blue-tag {
  color: #266cb2;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #eef6fa;
}
.card .check {
  background-color: #d0ffcf;
  border: none;
  box-shadow: none;
}
