/* 1 */
@media (max-width: 375px) {
  body {
    height: 100%;
  }
  .uk-body {
    margin: 0px 10px 0px 10px;
  }
  .header-home-logo {
    border-radius: 10px;
  }

  .sub-content-1,
  .sub-content-2 {
    width: 80vw;
  }

  .homepage img {
    position: absolute;
    top: 690px;
    left: 0;
    margin-left: 50px;
  }
  /* Presensi tepat waktu*/
  .sub-content-3{
    padding: 10px 20px;
    margin-right: 160px;
  }
  .sub-content-3 .container{
  width: 260px; /* Sesuaikan lebar container sesuai kebutuhan Anda */
  height: 350px;
  }
}
