/* 1 */
@media (max-width: 375px) {
  body {
    height: 100%;
  }
  .uk-body {
    margin: 0px 10px 0px 10px;
  }
  .header-home-logo {
    border-radius: 10px;
  }

  .sub-content-1,
  .sub-content-2 {
    width: 80vw;
  }

  .homepage img {
    position: absolute;
    top: 690px;
    left: 0;
    margin-left: 50px;
  }
}
