.tablePengajuanIzin {
  padding: 0px 60px;
  text-align: center;
}

.titleTable {
  padding: 40px 76px 20px 60px;

  text-align: center;
  color: white;
}

.titleHeader {
  background-color: #266cb2;
}
